.chat-main
  .header
    .right-header
      .right-header__title
        = @group.name
      %ul.right-header__members
        Member：
        - @group.users.each do |group_member|
          %li.member
            %div #{group_member.name} :
    
    = link_to edit_group_path(params[:group_id]) do
      .right-header__edit-btn
        Edit

  .messages
    = render @messages
    
     
  .message-form
    = form_for [@group, @message] do |f|
      %form
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          -# %input.input-box__text{placeholder: 'type a message'}
          -# %label.input-box__image
          = f.label :image, class: 'input-box__image' do
            = icon('fa', 'image',class: 'icon')
            -# %input.input-box__image__file{type: "file"}
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send',"data-disable-with": "送信中...", id: 'chat-footer__send-btn', class: 'submit-btn'
      



 